In [63]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import pairwise_distances

In [64]:
df = pd.read_csv('Recommendanemie.CSV', encoding='latin-1')  # Replace with the actual encoding
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [65]:
df.shape

(12294, 7)

In [120]:
df.drop_duplicates(inplace=True)

In [121]:
df.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [123]:
data.fillna(0, inplace=True)

In [124]:
len(df.anime_id.unique())

12294

In [125]:
len(df.type.unique())

7

In [126]:
df.type.value_counts()

type
TV         3787
OVA        3311
Movie      2348
Special    1676
ONA         659
Music       488
Name: count, dtype: int64

In [128]:
len(df.rating.unique())

599

In [129]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [130]:
df.groupby('type')['rating'].count().sort_values(ascending=False).head()

type
TV         3671
OVA        3285
Movie      2297
Special    1671
ONA         652
Name: rating, dtype: int64

In [131]:
df.groupby('type')['rating'].mean().sort_values(ascending=False).head()

type
TV         6.902299
Special    6.523501
OVA        6.375221
Movie      6.318058
ONA        5.643298
Name: rating, dtype: float64

In [132]:
df_1=df.pivot_table(index='anime_id',columns='type',values='rating')
df_1

type      Movie  Music   ONA  OVA  Special    TV
anime_id
1           NaN    NaN   NaN  NaN      NaN  8.82
5           8.4    NaN   NaN  NaN      NaN   NaN
6           NaN    NaN   NaN  NaN      NaN  8.32
7           NaN    NaN   NaN  NaN      NaN  7.36
8           NaN    NaN   NaN  NaN      NaN  7.06
...         ...    ...   ...  ...      ...   ...
34476       NaN    NaN   NaN  NaN     1.67   NaN
34490       NaN    NaN   NaN  NaN      NaN  3.00
34503       NaN    NaN   NaN  NaN      NaN  3.40
34514       NaN    NaN  7.21  NaN      NaN   NaN
34519       NaN    NaN   NaN  NaN     5.67   NaN

[12064 rows x 6 columns]

In [137]:
df.dropna(thresh=2, inplace=True)  # Keep rows with at least 2 non-NA values
df.dropna(axis=1, thresh=2, inplace=True)  # Keep columns with at least 2 non-NA values

In [138]:
df_2=df_1.fillna(0,axis=1)

In [139]:
df_arr=cosine_similarity(df_2)

In [140]:
df_new=pd.DataFrame(df_arr)
df_new

,0,1,2,3,4,5,6,7,8,9,...,12054,12055,12056,12057,12058,12059,12060,12061,12062,12063
0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
3,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12059,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
12060,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
12061,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
12062,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
12063,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [141]:
df_new.index= df.anime_id.unique()
df_new.columns= df.anime_id.unique()

ValueError: Length mismatch: Expected axis has 12064 elements, new values have 12294 elements

In [87]:
df.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [92]:
data = pd.read_csv('Recommendanemie.CSV', encoding='latin-1')  # Replace with the actual encoding
data.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [93]:
data.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [94]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
data['genre'] = data['genre'].apply(lambda x: x.split(', '))
genre_encoded = mlb.fit_transform(data['genre'])
genre_df = pd.DataFrame(genre_encoded, columns=mlb.classes_)

AttributeError: 'float' object has no attribute 'split'

In [95]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
data[['rating', 'members']] = scaler.fit_transform(data[['rating', 'members']])

In [96]:
from sklearn.metrics.pairwise import cosine_similarity

features = pd.concat([genre_df, data[['rating', 'members']]], axis=1)
similarity_matrix = cosine_similarity(features)

NameError: name 'genre_df' is not defined

In [97]:
def recommend(anime_name, data, similarity_matrix, top_n=5):
    anime_idx = data[data['name'] == anime_name].index[0]
    similarity_scores = list(enumerate(similarity_matrix[anime_idx]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    top_anime_indices = [i[0] for i in similarity_scores[1:top_n+1]]
    return data.iloc[top_anime_indices][['name', 'rating']]

In [98]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score

train_data, test_data = train_test_split(data, test_size=0.2, random_state=42)

# Evaluate your model here

In [149]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer, StandardScaler
from sklearn.metrics.pairwise import cosine_similarity

# Load the dataset
anemie = pd.read_csv('Recommendanemie.CSV', encoding='latin-1')

# Drop duplicates
anemie.drop_duplicates(inplace=True)

# Handling missing values
# Fill NaN values in numerical columns with the mean of the column
anemie['rating'].fillna(anemie['rating'].mean(), inplace=True)
anemie['members'].fillna(anemie['members'].mean(), inplace=True)

# For categorical columns, fill NaN with a placeholder
anemie['genre'].fillna('Unknown', inplace=True)

# Convert genre to numerical representation
mlb = MultiLabelBinarizer()
anemie['genre'] = anemie['genre'].apply(lambda x: x.split(', '))
genre_encoded = mlb.fit_transform(anemie['genre'])
genre_df = pd.DataFrame(genre_encoded, columns=mlb.classes_)

# Standardize 'rating' and 'members'
scaler = StandardScaler()
anemie[['rating', 'members']] = scaler.fit_transform(anemie[['rating', 'members']])

# Combine features for similarity computation
features = pd.concat([genre_df, anemie[['rating', 'members']]], axis=1)

# Compute the cosine similarity matrix
similarity_matrix = cosine_similarity(features)

# Get unique anime IDs
unique_anime_ids = anemie.anime_id.unique()

# Check the length of the similarity matrix and unique anime IDs
print(f"Shape of similarity matrix: {similarity_matrix.shape}")
print(f"Number of unique anime IDs: {len(unique_anime_ids)}")

# Create a DataFrame for the similarity matrix
df_new = pd.DataFrame(similarity_matrix, index=unique_anime_ids, columns=unique_anime_ids)

# Display the new DataFrame
print(df_new)

# Function to recommend anime
def recommend(anime_name, data, similarity_matrix, top_n=5):
    try:
        anime_idx = data[data['name'] == anime_name].index[0]
        similarity_scores = list(enumerate(similarity_matrix[anime_idx]))
        similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
        top_anime_indices = [i[0] for i in similarity_scores[1:top_n+1]]
        return data.iloc[top_anime_indices][['name', 'rating']]
    except IndexError:
        return "Anime not found in the dataset."

# Example of how to use the recommend function
recommended_anime = recommend("Kimi no Na wa.", anemie, similarity_matrix, top_n=5)
print(recommended_anime)

Shape of similarity matrix: (12294, 12294)
Number of unique anime IDs: 12294
          32281     5114      28977     9253      9969      32935     11061  \
32281  1.000000  0.792356  0.675203  0.797687  0.726997  0.785861  0.822177
5114   0.792356  1.000000  0.559189  0.976716  0.667593  0.525957  0.968341
28977  0.675203  0.559189  1.000000  0.566013  0.989563  0.745041  0.651357
9253   0.797687  0.976716  0.566013  1.000000  0.674083  0.510643  0.956036
9969   0.726997  0.667593  0.989563  0.674083  1.000000  0.741526  0.743751
...         ...       ...       ...       ...       ...       ...       ...
9316  -0.626598 -0.294910 -0.646499 -0.320932 -0.608677 -0.691067 -0.410129
5543  -0.625400 -0.299344 -0.642966 -0.325125 -0.606524 -0.686677 -0.412952
5621  -0.610212 -0.321865 -0.613658 -0.345880 -0.585899 -0.651713 -0.424422
6133  -0.605591 -0.326490 -0.605764 -0.350054 -0.580065 -0.642441 -0.426305
26081 -0.562650 -0.346492 -0.542975 -0.366734 -0.530395 -0.570397 -0.427218

          820       15335     15417  ...     26031     34399     10368  \
32281  0.729559  0.578215  0.600131  ... -0.623226 -0.008059 -0.618096
5114   0.497192  0.412378  0.446472  ... -0.305768 -0.175863 -0.313898
28977  0.694270  0.985260  0.991087  ... -0.637300 -0.076328 -0.627160
9253   0.503571  0.417920  0.452184  ... -0.331173 -0.176632 -0.338688
9969   0.686988  0.951115  0.962308  ... -0.602938 -0.099249 -0.595869
...         ...       ...       ...  ...       ...       ...       ...
9316  -0.721706 -0.646333 -0.645509  ...  0.998486  0.249280  0.994596
5543  -0.716680 -0.641555 -0.641028  ...  0.999465  0.261311  0.996666
5621  -0.677546 -0.604865 -0.606114  ...  0.994530  0.332214  0.998451
6133  -0.667262 -0.595279 -0.596937  ...  0.990890  0.347129  0.996295
26081 -0.588472 -0.522491 -0.526585  ...  0.947352  0.432770  0.961892

          9352      5541      9316      5543      5621      6133      26081
32281 -0.624683 -0.624284 -0.626598 -0.625400 -0.610212 -0.605591 -0.562650
5114  -0.300916 -0.302556 -0.294910 -0.299344 -0.321865 -0.326490 -0.346492
28977 -0.641348 -0.640097 -0.646499 -0.642966 -0.613658 -0.605764 -0.542975
9253  -0.326594 -0.328148 -0.320932 -0.325125 -0.345880 -0.350054 -0.366734
9969  -0.605449 -0.604701 -0.608677 -0.606524 -0.585899 -0.580065 -0.530395
...         ...       ...       ...       ...       ...       ...       ...
9316   0.999506  0.999236  1.000000  0.999751  0.987280  0.981983  0.928306
5543   0.999959  0.999860  0.999751  1.000000  0.990584  0.985958  0.936377
5621   0.991790  0.992738  0.987280  0.990584  1.000000  0.999537  0.975613
6133   0.987438  0.988616  0.981983  0.985958  0.999537  1.000000  0.981843
26081  0.939535  0.942125  0.928306  0.936377  0.975613  0.981843  1.000000

[12294 rows x 12294 columns]
                                                   name    rating
504   Clannad: After Story - Mou Hitotsu no Sekai, K...  1.520173
60                                   Hotarubi no Mori e  2.100279
1201                     Angel Beats!: Another Epilogue  1.136712
219   Yahari Ore no Seishun Love Comedy wa Machigatt...  1.805310
337                                        Kanon (2006)  1.667657

In [150]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer, StandardScaler
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score

# Data Preprocessing
# ------------------
# Load the dataset into a suitable data structure (e.g., pandas DataFrame)
anemie = pd.read_csv('Recommendanemie.CSV', encoding='latin-1')

# Drop duplicates
anemie.drop_duplicates(inplace=True)

# Handle missing values
# Fill NaN values in numerical columns with the mean of the column
anemie['rating'].fillna(anemie['rating'].mean(), inplace=True)
anemie['members'].fillna(anemie['members'].mean(), inplace=True)

# For categorical columns, fill NaN with a placeholder
anemie['genre'].fillna('Unknown', inplace=True)

# Explore the dataset to understand its structure and attributes
print(anemie.info())
print(anemie.describe())
print(anemie.head())

# Feature Extraction
# ------------------
# Convert genre to numerical representation using MultiLabelBinarizer
mlb = MultiLabelBinarizer()
anemie['genre'] = anemie['genre'].apply(lambda x: x.split(', '))
genre_encoded = mlb.fit_transform(anemie['genre'])
genre_df = pd.DataFrame(genre_encoded, columns=mlb.classes_)

# Standardize 'rating' and 'members' using StandardScaler
scaler = StandardScaler()
anemie[['rating', 'members']] = scaler.fit_transform(anemie[['rating', 'members']])

# Combine features for similarity computation
features = pd.concat([genre_df, anemie[['rating', 'members']]], axis=1)

# Recommendation System
# ---------------------
# Compute the cosine similarity matrix
similarity_matrix = cosine_similarity(features)

# Get unique anime IDs
unique_anime_ids = anemie.anime_id.unique()

# Check the length of the similarity matrix and unique anime IDs
print(f"Shape of similarity matrix: {similarity_matrix.shape}")
print(f"Number of unique anime IDs: {len(unique_anime_ids)}")

# Create a DataFrame for the similarity matrix
df_new = pd.DataFrame(similarity_matrix, index=unique_anime_ids, columns=unique_anime_ids)

# Function to recommend anime based on cosine similarity
def recommend(anime_name, data, similarity_matrix, top_n=5):
    try:
        anime_idx = data[data['name'] == anime_name].index[0]
        similarity_scores = list(enumerate(similarity_matrix[anime_idx]))
        similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
        top_anime_indices = [i[0] for i in similarity_scores[1:top_n+1]]
        return data.iloc[top_anime_indices][['name', 'rating']]
    except IndexError:
        return "Anime not found in the dataset."

# Example of how to use the recommend function
recommended_anime = recommend("Kimi no Na wa.", anemie, similarity_matrix, top_n=5)
print(recommended_anime)

# Evaluation
# ----------
# Split the dataset into training and testing sets
train_data, test_data = train_test_split(anemie, test_size=0.2, random_state=42)

# Note: For a more rigorous evaluation, you would typically compare the recommended anime with user preferences.
# This part would require user interaction data, which is not included in this dataset.
# Below is a simplified evaluation using precision, recall, and F1-score metrics as a placeholder.

# Dummy evaluation function (needs user interaction data for real evaluation)
def evaluate_recommendation_system(train_data, test_data, similarity_matrix):
    # This is a placeholder for the actual evaluation process
    y_true = [1, 1, 0, 1]  # Dummy true labels
    y_pred = [1, 0, 0, 1]  # Dummy predicted labels
    precision = precision_score(y_true, y_pred)
    recall = recall_score(y_true, y_pred)
    f1 = f1_score(y_true, y_pred)
    return precision, recall, f1

# Evaluate the recommendation system
precision, recall, f1 = evaluate_recommendation_system(train_data, test_data, similarity_matrix)
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1-score: {f1}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12294 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12294 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB
None
           anime_id        rating       members
count  12294.000000  12294.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.017096  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.900000  2.250000e+02
50%    10260.500000      6.550000  1.550000e+03
75%    24794.500000      7.170000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06
   anime_id                              name  \
0     32281                    Kimi no Na wa.
1      5114  Fullmetal Alchemist: Brotherhood
2     28977                          Gintama°
3      9253                       Steins;Gate
4      9969                     Gintama&#039;

                                               genre   type episodes  rating  \
0               Drama, Romance, School, Supernatural  Movie        1    9.37
1  Action, Adventure, Drama, Fantasy, Magic, Mili...     TV       64    9.26
2  Action, Comedy, Historical, Parody, Samurai, S...     TV       51    9.25
3                                   Sci-Fi, Thriller     TV       24    9.17
4  Action, Comedy, Historical, Parody, Samurai, S...     TV       51    9.16

   members
0   200630
1   793665
2   114262
3   673572
4   151266
Shape of similarity matrix: (12294, 12294)
Number of unique anime IDs: 12294
                                                   name    rating
504   Clannad: After Story - Mou Hitotsu no Sekai, K...  1.520173
60                                   Hotarubi no Mori e  2.100279
1201                     Angel Beats!: Another Epilogue  1.136712
219   Yahari Ore no Seishun Love Comedy wa Machigatt...  1.805310
337                                        Kanon (2006)  1.667657
Precision: 1.0
Recall: 0.6666666666666666
F1-score: 0.8

# Data Preprocessing

In [20]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer, StandardScaler
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score


# Load the dataset into a suitable data structure (e.g., pandas DataFrame)
anemie = pd.read_csv('Recommendanemie.CSV', encoding='latin-1')

# Drop duplicates
anemie.drop_duplicates(inplace=True)

# Handle missing values # Fill NaN values in numerical columns with the mean of the column

In [23]:

anemie['rating'].fillna(anemie['rating'].mean(), inplace=True)
anemie['members'].fillna(anemie['members'].mean(), inplace=True)

anemie.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

# Explore the dataset values

In [24]:
# For categorical columns, fill NaN with a placeholder
anemie['genre'].fillna('Unknown', inplace=True)

print(anemie.info())

print(anemie.describe())

print(anemie.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12294 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12294 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB
None
           anime_id        rating       members
count  12294.000000  12294.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.017096  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.900000  2.250000e+02
50%    10260.500000      6.550000  1.550000e+03
75%    24794.500000      7.170000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06
   anime_id                              name  \
0     32281                    Kimi no Na wa.
1      5114  Fullmetal Alchemist: Brotherhood
2     28977                          Gintama°
3      9253                       Steins;Gate
4      9969                     Gintama&#039;

                                               genre   type episodes  rating  \
0               Drama, Romance, School, Supernatural  Movie        1    9.37
1  Action, Adventure, Drama, Fantasy, Magic, Mili...     TV       64    9.26
2  Action, Comedy, Historical, Parody, Samurai, S...     TV       51    9.25
3                                   Sci-Fi, Thriller     TV       24    9.17
4  Action, Comedy, Historical, Parody, Samurai, S...     TV       51    9.16

   members
0   200630
1   793665
2   114262
3   673572
4   151266

In [25]:
# Feature Extraction
# ------------------
# Convert genre to numerical representation using MultiLabelBinarizer
mlb = MultiLabelBinarizer()
anemie['genre'] = anemie['genre'].apply(lambda x: x.split(', '))
genre_encoded = mlb.fit_transform(anemie['genre'])
genre_df = pd.DataFrame(genre_encoded, columns=mlb.classes_)

print(genre_df)

       Action  Adventure  Cars  Comedy  Dementia  Demons  Drama  Ecchi  \
0           0          0     0       0         0       0      1      0
1           1          1     0       0         0       0      1      0
2           1          0     0       1         0       0      0      0
3           0          0     0       0         0       0      0      0
4           1          0     0       1         0       0      0      0
...       ...        ...   ...     ...       ...     ...    ...    ...
12289       0          0     0       0         0       0      0      0
12290       0          0     0       0         0       0      0      0
12291       0          0     0       0         0       0      0      0
12292       0          0     0       0         0       0      0      0
12293       0          0     0       0         0       0      0      0

       Fantasy  Game  ...  Slice of Life  Space  Sports  Super Power  \
0            0     0  ...              0      0       0            0
1            1     0  ...              0      0       0            0
2            0     0  ...              0      0       0            0
3            0     0  ...              0      0       0            0
4            0     0  ...              0      0       0            0
...        ...   ...  ...            ...    ...     ...          ...
12289        0     0  ...              0      0       0            0
12290        0     0  ...              0      0       0            0
12291        0     0  ...              0      0       0            0
12292        0     0  ...              0      0       0            0
12293        0     0  ...              0      0       0            0

       Supernatural  Thriller  Unknown  Vampire  Yaoi  Yuri
0                 1         0        0        0     0     0
1                 0         0        0        0     0     0
2                 0         0        0        0     0     0
3                 0         1        0        0     0     0
4                 0         0        0        0     0     0
...             ...       ...      ...      ...   ...   ...
12289             0         0        0        0     0     0
12290             0         0        0        0     0     0
12291             0         0        0        0     0     0
12292             0         0        0        0     0     0
12293             0         0        0        0     0     0

[12294 rows x 44 columns]

In [26]:


# Recommendation System
# ---------------------
# Compute the cosine similarity matrix
similarity_matrix = cosine_similarity(features)

# Get unique anime IDs
unique_anime_ids = anemie.anime_id.unique()

# Check the length of the similarity matrix and unique anime IDs
print(f"Shape of similarity matrix: {similarity_matrix.shape}")
print(f"Number of unique anime IDs: {len(unique_anime_ids)}")

Shape of similarity matrix: (12294, 12294)
Number of unique anime IDs: 12294

In [27]:
# Standardize 'rating' and 'members' using StandardScaler
scaler = StandardScaler()
anemie[['rating', 'members']] = scaler.fit_transform(anemie[['rating', 'members']])
print(f"StandardScaler value of rating and members: {anemie[['rating', 'members']]}")

StandardScaler value of rating and members:          rating    members
0      2.847535   3.330241
1      2.739380  14.148406
2      2.729547   1.754713
3      2.650889  11.957666
4      2.641057   2.429742
...         ...        ...
12289 -2.284933  -0.325809
12290 -2.157113  -0.326320
12291 -1.567174  -0.325663
12292 -1.468851  -0.326466
12293 -0.996900  -0.327068

[12294 rows x 2 columns]

In [8]:
# Combine features for similarity computation
features = pd.concat([genre_df, anemie[['rating', 'members']]], axis=1)
print(features)

       Action  Adventure  Cars  Comedy  Dementia  Demons  Drama  Ecchi  \
0           0          0     0       0         0       0      1      0
1           1          1     0       0         0       0      1      0
2           1          0     0       1         0       0      0      0
3           0          0     0       0         0       0      0      0
4           1          0     0       1         0       0      0      0
...       ...        ...   ...     ...       ...     ...    ...    ...
12289       0          0     0       0         0       0      0      0
12290       0          0     0       0         0       0      0      0
12291       0          0     0       0         0       0      0      0
12292       0          0     0       0         0       0      0      0
12293       0          0     0       0         0       0      0      0

       Fantasy  Game  ...  Sports  Super Power  Supernatural  Thriller  \
0            0     0  ...       0            0             1         0
1            1     0  ...       0            0             0         0
2            0     0  ...       0            0             0         0
3            0     0  ...       0            0             0         1
4            0     0  ...       0            0             0         0
...        ...   ...  ...     ...          ...           ...       ...
12289        0     0  ...       0            0             0         0
12290        0     0  ...       0            0             0         0
12291        0     0  ...       0            0             0         0
12292        0     0  ...       0            0             0         0
12293        0     0  ...       0            0             0         0

       Unknown  Vampire  Yaoi  Yuri    rating    members
0            0        0     0     0  2.847535   3.330241
1            0        0     0     0  2.739380  14.148406
2            0        0     0     0  2.729547   1.754713
3            0        0     0     0  2.650889  11.957666
4            0        0     0     0  2.641057   2.429742
...        ...      ...   ...   ...       ...        ...
12289        0        0     0     0 -2.284933  -0.325809
12290        0        0     0     0 -2.157113  -0.326320
12291        0        0     0     0 -1.567174  -0.325663
12292        0        0     0     0 -1.468851  -0.326466
12293        0        0     0     0 -0.996900  -0.327068

[12294 rows x 46 columns]

In [17]:
# Create a DataFrame for the similarity matrix
df_new = pd.DataFrame(similarity_matrix, index=unique_anime_ids, columns=unique_anime_ids)

print(df_new)

          32281     5114      28977     9253      9969      32935     11061  \
32281  1.000000  0.792356  0.675203  0.797687  0.726997  0.785861  0.822177
5114   0.792356  1.000000  0.559189  0.976716  0.667593  0.525957  0.968341
28977  0.675203  0.559189  1.000000  0.566013  0.989563  0.745041  0.651357
9253   0.797687  0.976716  0.566013  1.000000  0.674083  0.510643  0.956036
9969   0.726997  0.667593  0.989563  0.674083  1.000000  0.741526  0.743751
...         ...       ...       ...       ...       ...       ...       ...
9316  -0.626598 -0.294910 -0.646499 -0.320932 -0.608677 -0.691067 -0.410129
5543  -0.625400 -0.299344 -0.642966 -0.325125 -0.606524 -0.686677 -0.412952
5621  -0.610212 -0.321865 -0.613658 -0.345880 -0.585899 -0.651713 -0.424422
6133  -0.605591 -0.326490 -0.605764 -0.350054 -0.580065 -0.642441 -0.426305
26081 -0.562650 -0.346492 -0.542975 -0.366734 -0.530395 -0.570397 -0.427218

          820       15335     15417  ...     26031     34399     10368  \
32281  0.729559  0.578215  0.600131  ... -0.623226 -0.008059 -0.618096
5114   0.497192  0.412378  0.446472  ... -0.305768 -0.175863 -0.313898
28977  0.694270  0.985260  0.991087  ... -0.637300 -0.076328 -0.627160
9253   0.503571  0.417920  0.452184  ... -0.331173 -0.176632 -0.338688
9969   0.686988  0.951115  0.962308  ... -0.602938 -0.099249 -0.595869
...         ...       ...       ...  ...       ...       ...       ...
9316  -0.721706 -0.646333 -0.645509  ...  0.998486  0.249280  0.994596
5543  -0.716680 -0.641555 -0.641028  ...  0.999465  0.261311  0.996666
5621  -0.677546 -0.604865 -0.606114  ...  0.994530  0.332214  0.998451
6133  -0.667262 -0.595279 -0.596937  ...  0.990890  0.347129  0.996295
26081 -0.588472 -0.522491 -0.526585  ...  0.947352  0.432770  0.961892

          9352      5541      9316      5543      5621      6133      26081
32281 -0.624683 -0.624284 -0.626598 -0.625400 -0.610212 -0.605591 -0.562650
5114  -0.300916 -0.302556 -0.294910 -0.299344 -0.321865 -0.326490 -0.346492
28977 -0.641348 -0.640097 -0.646499 -0.642966 -0.613658 -0.605764 -0.542975
9253  -0.326594 -0.328148 -0.320932 -0.325125 -0.345880 -0.350054 -0.366734
9969  -0.605449 -0.604701 -0.608677 -0.606524 -0.585899 -0.580065 -0.530395
...         ...       ...       ...       ...       ...       ...       ...
9316   0.999506  0.999236  1.000000  0.999751  0.987280  0.981983  0.928306
5543   0.999959  0.999860  0.999751  1.000000  0.990584  0.985958  0.936377
5621   0.991790  0.992738  0.987280  0.990584  1.000000  0.999537  0.975613
6133   0.987438  0.988616  0.981983  0.985958  0.999537  1.000000  0.981843
26081  0.939535  0.942125  0.928306  0.936377  0.975613  0.981843  1.000000

[12294 rows x 12294 columns]

In [18]:
# Example of how to use the recommend function
recommended_anime = recommend("Kimi no Na wa.", anemie, similarity_matrix, top_n=5)
print(recommended_anime)

                                                   name    rating
504   Clannad: After Story - Mou Hitotsu no Sekai, K...  1.520173
60                                   Hotarubi no Mori e  2.100279
1201                     Angel Beats!: Another Epilogue  1.136712
219   Yahari Ore no Seishun Love Comedy wa Machigatt...  1.805310
337                                        Kanon (2006)  1.667657

# Evaluation

In [28]:

# Split the dataset into training and testing sets
train_data, test_data = train_test_split(anemie, test_size=0.2, random_state=42)

# Note: For a more rigorous evaluation, you would typically compare the recommended anime with user preferences.
# This part would require user interaction data, which is not included in this dataset.
# Below is a simplified evaluation using precision, recall, and F1-score metrics as a placeholder.

# Dummy evaluation function (needs user interaction data for real evaluation)
def evaluate_recommendation_system(train_data, test_data, similarity_matrix):
    # This is a placeholder for the actual evaluation process
    y_true = [1, 1, 0, 1]  # Dummy true labels
    y_pred = [1, 0, 0, 1]  # Dummy predicted labels
    precision = precision_score(y_true, y_pred)
    recall = recall_score(y_true, y_pred)
    f1 = f1_score(y_true, y_pred)
    return precision, recall, f1

# Evaluate the recommendation system
precision, recall, f1 = evaluate_recommendation_system(train_data, test_data, similarity_matrix)
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1-score: {f1}")

Precision: 1.0
Recall: 0.6666666666666666
F1-score: 0.8